* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html . body {
    height: 100%;
}

body {
     position: relative;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.img {
    width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    text-align: center;
}

.button_black {
    background-color: #1a1a1a;
    color: #f7f7f7;
    border: none;

}

.top-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 0;
    background-color: #CED3CA;
}

.top-banner__text {
    margin-right: 16px;
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.top-banner__button {
    padding: 1px 13px;
    font-size: 12px;
    line-height: 28px;
    background-color: black;
    color: white;
}

.header {
    background-color: #ffffff;
    color: #292929;
}

.header__wrapper {
    display: flex;
    max-width: calc(100% - 121px - 75px);
    margin: 0 auto;
    padding: 32px 17px 42px 0;
    border-right: 1px solid #1a1a1a;
}

.header__logo {
    margin-right: 50px;
    max-width: 256px;
}

.header__nav a {
    color: #292929;
    transition: color .3s ease;
}

.header__nav a:hover {
    color: #928e71;
}

.header__nav_left {
    font-size: 17px;
    line-height: 20px;
}

.header__nav_left .header__nav-item {
    margin: 0 16px;
}

.header__nav_right {
    font-size: 14px;
    line-height: 16px;
}

.header__nav_right .header__nav-item {
    padding: 0 13px;
}

.header__nav_right .header__nav-item:nth-child(odd) {
    border-right: 1px solid #1a1a1a;
    padding: 0 13px;
}

.header__nav_right .header__nav-item:nth-child(2) {
    padding-right: 17px;
}

.header__left, .header__right {
    flex-basis: 50%;
    max-width: 50%;
    display: flex;
}

.header__left ul, .header__right ul {
    display: flex;
}

.header__nav-item_icon img {
    max-width: 18px;
}

.header__right {
    justify-content: flex-end;
}

.banner {
    height: 600px;
    background-image: url("../assets/images/banner.png") ;
    background-repeat: no-repeat;

}

.banner__content {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
}

.banner__content p {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}

.banner__content a {
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    padding-right: 10px;
    border-bottom: 1px solid #ffffff;
}
